<!-- <main>

  <div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;" >
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">search</li>
          <li class="nav-item">bookmarks</li>
        </ul>
        <div class="container-fluid text-dark bg-light">Copyrights</div>
    </div>
  </div>

</main> -->

<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
            <h3><a href="/">Image Finder</a></h3>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item"><a href="#" class="nav-link align-middle px-0">Home</a></li>
                <li class="nav-item"><a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">Dashboard</a></li>
            </ul>
            <hr>
            <div class="dropdown pb-4">
                Copyright
            </div>
          </div>
      </div>
      <div class="col px-0">
        <div class="container-header d-flex justify-content-end text-dark bg-light">
          <img src="assets/unnamed.jpg" alt="" width="35" height="30" class="my-2 mx-2 rounded-circle">
        </div>
        <form  class="container my-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Find images" aria-label="Find images">
          </div>
        </form>
      </div>
  </div>
</div>
