<div class="container">
  <form  class="container my-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Find images" name="searchText" aria-label="Find images" [(ngModel)]="searchText" />
      <input type='button' class="btn" (click)="handleSearch($event)" value="Submit" />
    </div>
  </form>
  <p *ngIf="this.requestPending">Searching...</p>
  <p>Search goes here</p>

  <div class="row text-center m-3">
    <div *ngFor="let photo of photos" class="col-4 border bg-light p-4">
      <app-flickr-image [imageId]="photo.id" ></app-flickr-image>
    </div>
  </div>
</div>
