<div class="container">
  <form  class="container my-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Find images" name="searchText" aria-label="Find images" [(ngModel)]="searchText" />
      <input type='button' class="btn" (click)="handleSubmit($event)" value="Submit" />
    </div>
  </form>
  <p *ngIf="this.requestPending">Searching...</p>
  <ngb-pagination *ngIf='photos.length' class="pagination justify-content-end me-5" [pageSize]="100" [maxSize]="5" [collectionSize]="photosTotal" (pageChange)="onChangePage($event)" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
  <div class="row row-cols-4 justify-content-around">
    <div *ngFor="let photo of photos" class="m-3 col-md-3 border bg-light p-3">
      <app-flickr-image [imageTitle]="photo.title" [imageTag]="photo.tag" [imageId]="photo.id" [isBookmarked]="isPhotoBookmarked(photo.id)" [onBookmark]="onBookmark" [onUnbookmark]="onUnbookmark" ></app-flickr-image>
    </div>
  </div>
</div>
